*/.deps/
*/.libs/
**.o
**.lo
**.la
**:w
.deps**

.DS_Store

config.log
config.status

Makefile
configure~
doc/Makefile
src/Makefile
tests/Makefile
!tests/*.h
!tests/*.c
!tests/*.dat
tests/**
tools/bench/Makefile

.libs/
compile
configure
gen-bases
gen-fac
gen-fib
gen-jacobitab
gen-psqr
gen-trialdivtab
gmp-6.2.1.tar.gz
lib/libgmp.10.dylib
lib/libgmp.a
lib/libgmp.dylib
libtool
missing
share/
stamp-h1
test-driver
ylwrap
